section h1{
    font-family: 'Modern Negra Demo', sans-serif;
}

.left-leaf{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
}

#qaute{
    font-family: 'Modern Negra Demo', sans-serif;
}

#cocktails:hover{
    color: rgb(23, 96, 47);
    opacity: 90;
    font-size: 1.3rem;
}

.text-gradient {
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.noisy{
     position: absolute;
     inset: 0; 
     size: full;
     background-image: url("/images/noise.png");
}

.videoglass{
    width: full;
    height: 50%;
    position: absolute;
    bottom: 0; 
    left:0; 
    object-position: bottom;
    object-fit: cover;
    mix-blend-mode: screen;
}

@media screen  and (min-width: 480px)  {
    .videoglass{
    height: 80%;
    object-fit: contain;
    object-position: center;
    left: 24%;
    }
}
 /*w-full md:h-[80%] h-1/2 absolute bottom-0 left-0 md:object-contain object-bottom object-cover*/